<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCR-Autopilot remote control</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <script>
        function test() {
            document.getElementById("submitbtn").style.visibility = "visible"
            document.getElementById("cancelbtn").style.visibility = "visible"
        }
    </script>
    <div class="container" style="text-align: center;">
        <h1 class="fw-bold">SCR-Autopilot remote</h1>
        <br><br><br>
        <form action="/send" method="POST" class="my-4">
            <label for="switch">Autopilot</label>
            {% if toggle == True %}
            <input class="form-check-input" type="checkbox" name="switch" id="switch" oninput="test()" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" name="switch" id="switch" oninput="test()">
            {% endif %}
            <br><br><br>
            <button type="submit" style="visibility: hidden;" id="submitbtn" class="btn btn-success mr-2"><i class="bi bi-cloud-arrow-up-fill"></i> Save</button>
            <a href="/" class="btn btn-danger mr-2" style="visibility: hidden;" id="cancelbtn"><i class="bi bi-x-circle-fill"></i> Cancel</a>
            <div class="alert alert-warning" role="alert">
                Please refresh the page before editing the settings. <a href="/" class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i> Refresh</a>
            </div>
            <br>
            <a href="/shot" class="btn btn-primary"><i class="bi bi-image-fill"></i> Take a screenshot of the game</a>
        </form>
    </div>
</body>

</html>